// Specific CSS for your home-page
.Lines {
  color: yellow;
  font-size: 15px;
}

.lines_ {
  color: yellow;
  font-size: 15px;
}

.d-flex {
  background-repeat: repeat-x;
  padding-top: 25px;


}

.border {
  color: yellow;
}
