// Import page-specific CSS files here.
@import "home";
.lines {
  color: yellow;
  font-size: 15px;
}

body{
  background-color: black;
}


.lines_ {
  color: yellow;
  font-size: 15px;
  text-decoration: underline;
}

.d-flex {
  background-repeat: repeat-x;
  padding-top: 25px;

}


.limited {
  max-height: 2.5em; /* Adjust the desired height for the limited display */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.expanded {
  max-height: none !important;
  white-space: normal;
  overflow: visible;
}

.expand-btn {
  text-decoration: underline;
  cursor: pointer;
}


.search-form-control {
  position: relative;

}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;

}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;

}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  color: yellow;
}

.text-color {
  color:yellow;
}

.btn-link {
  --bs-btn-color: yellow;
  --bs-btn-hover-color: yellow;
  --bs-btn-active-color: yellow;
}
