<script type="text/javascript">
      setTimeout("location.reload();",10000);
</script>
<div class="fixednav">
<%= render "components/navbar" %>
</div>
<div class="scroll-box">
<%= render "components/filterbar" %>
<%= render "components/cardlist" %>
</div>
