<div class="container">
  <div class="d-flex justify-content-between">
    <div id = "border" class = "border border-info" >
      <h1 class = "Lines m-0 p-2">Block Used Spaceship Emporium</h1>
    </div>
    <div id = "border" class = "border border-info w-25 text-center" >
      <h1 class = "Lines m-0 p-2">Type here...</h1>
    </div>
    <div class = "" >
      <h1 class= "lines_ m-0 p-2"> Log in / Create account </h1>
    </div>
  </div>
  <div class="container">
    <div class="d-flex justify-content-between">
      <button id ="button" type="button" class="btn btn-info">Model</button>
      <button id ="button" type="button" class="btn btn-info">Capacity</button>
      <button id ="button" type="button" class="btn btn-info">High Price</button>
      <button id ="button" type="button" class="btn btn-info">Low Price</button>
      <button id ="button" type="button" class="btn btn-info">Armaments</button>
      <button id ="button" type="button" class="btn btn-info">Top Speed</button>
      <button id ="button" type="button" class="btn btn-info">Low Speed</button>
      <button id ="button" type="button" class="btn btn-info">Weight</button>
    </div>
  </div>
  <%= render "components/card" %>
</div>
