  <%= render "components/navbar" %>
  <div class="container">
    <div class="d-flex justify-content-between">
      <button id ="button" type="button" class="btn btn-info">Model</button>
      <button id ="button" type="button" class="btn btn-info">Capacity</button>
      <button id ="button" type="button" class="btn btn-info">High Price</button>
      <button id ="button" type="button" class="btn btn-info">Low Price</button>
      <button id ="button" type="button" class="btn btn-info">Armaments</button>
      <button id ="button" type="button" class="btn btn-info">Top Speed</button>
      <button id ="button" type="button" class="btn btn-info">Low Speed</button>
      <button id ="button" type="button" class="btn btn-info">Weight</button>
    </div>
  </div>
  <%= render "components/card" %>
</div>
