
#button {
  background-color: yellow;
  border-radius: 25px;
}

#button_ {
  color: yellow;
  background-color: transparent;
  border-radius: 25px;
}

#button:hover {
  background-color: #FBFFFE;
  border-color: #2AB1F6;
  color: #2AB1F6;
}
