// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "border";
@import "button";
@import "cards";
@import "cards_show";
@import "new_ship";
@import "form";
@import "tabs";
@import "stars_background";

#button a {
  text-decoration: none;
  color: black;
}

#button a:hover {
  background-color: #FBFFFE;
  border-color: #2AB1F6;
}

#button:hover a {
  color: #2AB1F6;
}
