.navbar-card {
  display: flex;
  justify-content: space-between;
}
.navbar-lewagon {
  justify-content: space-between;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
