.fixed-nav {
  position: sticky;
}

.navbar-card {
  display: flex;
  justify-content: space-between;
}
.navbar-lewagon {
  justify-content: space-between;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu {
  background-color: rgba(2, 2, 2, 0.01);
  border-style: none;
}

.dropdown-menu .dropdown-item {
  margin: 8px;
  background-color: rgb(229, 255, 0);
  border-radius: 8px;
  border-color: black;
  border-width: 3px;
  border-style: solid;
  text-align: center;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgb(255, 0, 225);
}
