.new-ship-card {
  color: yellow;
  max-width: 500px;
  margin: 50px 50px;

}

.new-ship-over {
  justify-content: center;
  border-radius: 5px;
  border-color: aqua;
  width: 600px;
  height: 90%;
}
